# vim: ft=yaml
model_list:
  - model_name: command-a-03-2025
    litellm_params: &default
      model: cohere_chat/command-a-03-2025
      api_key: COHERE_API_KEY
  # ChatGPT.nvim's default model
  # https://github.com/jackMort/ChatGPT.nvim/blob/df53728e05129278d6ea26271ec086aa013bed90/lua/chatgpt/config.lua#L160
  - model_name: gpt-3.5-turbo
    litellm_params: *default
  - model_name: gpt-3.5-turbo-instruct
    litellm_params: *default
