* {
    font-family: Noto Sans;
    font-size: 16px;
    color: #F3F4F5;
}

#window,
#outer-box {
    background: none;
}

#input {
    padding: 12px;
    font-size: 18px;
    border-radius: 0px;
    border: 2px solid #2F343F;
    border-bottom: 2px solid #404552;
    background-color: #383C4A;
}

#inner-box {
    background-color: #383C4A;
    border: 2px solid #2F343F;
    border-top: none;
}

#entry {
    padding: 3px 10px;
}

#text {
    padding: 0px 10px;
}

#entry:nth-child(even){
    background-color: #404552;
}

#entry:selected {
    background-color: #5291E2;
}
