* {
  font-family: Noto Sans;
  font-size: 16px;
  color: #f3f4f5;
}

#window,
#outer-box {
  background: none;
}

#input {
  padding: 12px;
  font-size: 18px;
  border-radius: 0px;
  border: 2px solid #2f343f;
  border-bottom: 2px solid #404552;
  background-color: #383c4a;
}

#inner-box {
  background-color: #383c4a;
  border: 2px solid #2f343f;
  border-top: none;
}

#entry {
  padding: 3px 10px;
}

#text {
  padding: 5px 10px;
}

#entry:nth-child(even) {
  background-color: #404552;
}

#entry:selected {
  background-color: #5291e2;
}
