; vim: ft=gitconfig
[user]
	name = Thomas A. Anderson
	email = thomas.anderson@metacortex.mtx
[commit]
	gpgsign = true
[core]
	pager = delta | less --tabs=4
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[delta]
	color-only = true
	diff-highlight = true
	max-line-length = 0 
	wrap-max-lines = 0
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
[versionsort]
	suffix = -
